<!DOCTYPE html>
<html>
<head>
	<title>Vue Js Learning - Conditional Rendering</title>
	<script type="text/javascript" src="vue.min.js"></script>
</head>
<body>
	<div id="app">
		<h1 v-if="awesome">Vue is awesome!</h1>//true
		<h1 v-else>Oh no 😢</h1>//false

		<!-- Group using template -->
		<template v-if="ok">
		  <h1>Title</h1>
		  <p>Paragraph 1</p>
		  <p>Paragraph 2</p>
		</template>

		<!-- Else If -->
		<div v-if="type === 'A'">
		  A
		</div>
		<div v-else-if="type === 'B'">
		  B
		</div>
		<div v-else-if="type === 'C'">
		  C
		</div>
		<div v-else>
		  Not A/B/C
		</div>

		<!-- Show (only toggles the display CSS property of the element) -->
		<!-- not support => Template -->
		<!-- not work with => else -->
		<h1 v-show="ok">Hello!</h1>

	</div>

	<script type="text/javascript">
		// create new object
		var data = { 
			awesome: true,
			ok: 0,
			type: 'A',
		}


		// create new vue instance
		var vm = new Vue({
			el: '#app',
			data: data
		})
	</script>
</body>
</html>